@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization;

@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div>
    <form asp-controller="Home"
          asp-action="SetLanguage"
          asp-route-returnUrl="@Context.Request.Path" method="post" class="nav-link">
        <select name="culture" onchange="this.form.submit();"
                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                asp-items="cultureItems" class="form-select-sm">
        </select>
    </form>
</div>
